    <span style="font-weight: bold">{{localize 'SPACE-TRADER.Available'}}:</span>
    <br />
    <table>

        <tr>
            <td>{{localize 'SPACE-TRADER.FREIGHTTYPES.Major'}}</td><td>{{majorLots}}</td>
        </tr>
        <tr>
            <td>{{localize 'SPACE-TRADER.FREIGHTTYPES.Minor'}}</td><td>{{minorLots}}</td>
        </tr>
        <tr>
            <td>{{localize 'SPACE-TRADER.FREIGHTTYPES.Incidental'}}</td><td>{{incidentalLots}}</td>
        </tr>
        <tr>
            <td>{{localize 'SPACE-TRADER.FREIGHTTYPES.Mail'}}</td><td>{{mailLots}}</td>
        </tr>
    </table>
