<span style="font-weight: bold">{{localize 'SPACE-TRADER.SellingFreight'}}:</span>
<br />
<table>
    <tr>
        <th>{{localize 'SPACE-TRADER.Type'}}</th>
        <th>{{localize 'SPACE-TRADER.Tons'}}</th>
        <th>{{localize 'SPACE-TRADER.PriceCr'}}</th>
    </tr>
    
    {{#each freightList}}
    <tr>
        <td>{{this.type}}</td>
        <td>{{this.tons}}</td>
        <td>{{this.price}}</td>
    </tr>
    {{/each}}

    <tr>
        <th>{{localize 'SPACE-TRADER.Total'}}</th>
        <th>{{totalWeight}}</th>
        <th>{{totalValue}}</th>
    </tr>

</table>
<br />
