    <span style="font-weight: bold">{{localize 'SPACE-TRADER.Available'}}:</span>
    <br />
    <table>
        <tr>
            <td>{{localize 'SPACE-TRADER.PASSENGERTYPES.HighPsgr'}}</td><td>{{highPsgrs}}</td>
        </tr>
        <tr>
            <td>{{localize 'SPACE-TRADER.PASSENGERTYPES.MiddlePsgr'}}</td><td>{{midPsgrs}}</td>
        </tr>
        <tr>
            <td>{{localize 'SPACE-TRADER.PASSENGERTYPES.BasicPsgr'}}</td><td>{{basicPsgrs}}</td>
        </tr>
        <tr>
            <td>{{localize 'SPACE-TRADER.PASSENGERTYPES.LowPsgr'}}</td><td>{{lowPsgrs}}</td>
        </tr>
    </table>
