<div class="st-chatcard">
    <span style="font-weight: bold">{{rollType}}</span>
    <br />
    <div class="st-dms">{{{dmHtml}}}</div>
    <div class="st-rolls">
        {{{rollHtml}}}
        {{{initialResult}}}
        {{{passengerRollHtml}}}
        {{{passengerResult}}}
    </div>
</div>