<div class="space-trader-specsell-page">
    <div class="space-trader-twelvept-text">
        <label style="font-weight: bold;">{{localize "SPACE-TRADER.SPECTRADEROLLS.FindBuyer"}}:</label><br />
        <label>{{localize "SPACE-TRADER.SPECTRADEROLLS.FindBuyerRoll"}}</label><br />
        <br />
        <label style="font-weight: bold;">{{localize "SPACE-TRADER.SPECTRADEROLLS.FindBlackMarketBuyer"}}:</label><br />
        <label>{{localize "SPACE-TRADER.SPECTRADEROLLS.FindBlackMarketBuyerRoll"}}</label><br />
        <br />
        <label style="font-weight: bold;">{{localize "SPACE-TRADER.SPECTRADEROLLS.FindOnlineBuyer"}}:</label><br />
        <label>{{localize "SPACE-TRADER.SPECTRADEROLLS.FindOnlineBuyerRoll"}}</label><br />
        <br />
        <label style="font-weight: bold;">{{localize "SPACE-TRADER.PreviousTryPenalty"}}</label><br />
        <br />
        <label style="font-weight: bold;">{{starportDM}}</label>
    </div>
    <div>

        <div class="space-trader-specsell-list">

need editable column for law level DM on illegal goods
        </div>

        <div class="space-trader-spec-buttondiv">
            <div>
                <input type="checkbox" name="toggleAll" class="toggle-all-specsell"
                    title="{{localize 'SPACE-TRADER.ToggleAll'}}" data-dtype="Boolean" {{checked specSell.allChecked}}
                    {{disabled specSell.none}} />
                <label>{{localize 'SPACE-TRADER.ToggleAll'}}</label>
            </div>
            <div>
                <button class="specsell-button space-trader-get-button" title="{{localize 'SPACE-TRADER.SellSelected'}}"
                    {{disabled specSell.noneSelected}}>{{localize 'SPACE-TRADER.SellSelected'}}</button>
            </div>
        </div>
    </div>
</div>