<div class="space-trader-specsell-page">
    <div class="space-trader-twelvept-text">
        <label style="font-weight: bold;">{{localize "SPACE-TRADER.SPECTRADEROLLS.FindBuyer"}}:</label><br />
        <label>{{localize "SPACE-TRADER.SPECTRADEROLLS.FindBuyerRoll"}}</label><br />
        <br />
        <label style="font-weight: bold;">{{localize "SPACE-TRADER.SPECTRADEROLLS.FindBlackMarketBuyer"}}:</label><br />
        <label>{{localize "SPACE-TRADER.SPECTRADEROLLS.FindBlackMarketBuyerRoll"}}</label><br />
        <br />
        <label style="font-weight: bold;">{{localize "SPACE-TRADER.SPECTRADEROLLS.FindOnlineBuyer"}}:</label><br />
        <label>{{localize "SPACE-TRADER.SPECTRADEROLLS.FindOnlineBuyerRoll"}}</label><br />
        <br />
        <label style="font-weight: bold;">{{localize "SPACE-TRADER.PreviousTryPenalty"}}</label><br />
        <br />
        <label style="font-weight: bold;">{{starportDM}}</label>
    </div>
    <div>

        <div class="space-trader-spec-buttondiv">
            <div>
                <input type="checkbox" name="includeIllegal" class="toggle-include-illegal"
                    title="{{localize 'SPACE-TRADER.IncludeIllegal'}}" data-dtype="Boolean" />
                <label>{{localize 'SPACE-TRADER.IncludeIllegal'}}</label>

            </div>
            <div>
                <button class="specbuy-get-button space-trader-get-button"
                    title="{{localize 'SPACE-TRADER.GetSalePrices'}}">
                    {{localize 'SPACE-TRADER.GetSalePrices'}}</button>
            </div>
        </div>

        <div class="space-trader-specsell-list">
            <div class="space-trader-specsell-detail">
               <div>&nbsp;</div>
                <div class="space-trader-column-header">{{localize 'SPACE-TRADER.Type'}}</div>
                <div class="space-trader-column-header">{{localize 'SPACE-TRADER.Tons'}}</div>
                <div class="space-trader-column-header">{{localize 'SPACE-TRADER.BoughtPriceCr'}}</div>
                <div class="space-trader-column-header">{{localize 'SPACE-TRADER.OfferCr'}}</div>
                <div class="space-trader-column-header">{{localize 'SPACE-TRADER.Legal'}}</div>
 </div>

 need sell on each line w/popup for # of tons, law level diff if illegal

        </div>

    </div>
</div>